@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-300
}

.fix-height {
  min-height: calc(100vh - 180px);
}

.line-loader {
    @apply w-32 h-1 bg-blue-600 rounded; 
    position: relative; 
    overflow: hidden; 
  }
  
  .line-loader:before {
    content: '';
    @apply absolute left-0 top-0 h-full bg-blue-300; 
    animation: loading 1.5s infinite; 
    width: 100%; 
  }
  
  @keyframes loading {
    0% {
      transform: translateX(-100%); 
    }
    50% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(100%); 
    }
  }

  /* Animated Toast */
  @keyframes slideIn {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes progressBar {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  .animate-slide-in {
    animation: slideIn 0.5s ease-in-out;
  }
  
  .animate-progress-bar {
    animation: progressBar 6s linear forwards;
    transform-origin: left; 
  }