@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-300
}

.line-loader {
    @apply w-32 h-1 bg-blue-600 rounded; 
    position: relative; 
    overflow: hidden; 
  }
  
  .line-loader:before {
    content: '';
    @apply absolute left-0 top-0 h-full bg-blue-300; 
    animation: loading 1.5s infinite; 
    width: 100%; 
  }
  
  @keyframes loading {
    0% {
      transform: translateX(-100%); 
    }
    50% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(100%); 
    }
  }